fastapi==0.115.0
uvicorn==0.30.6
python-dotenv==1.0.1
python-multipart==0.0.21
pydantic==2.9.2

numpy==2.3.5
pandas==2.3.3
scikit-learn==1.8.0
scipy==1.16.3
joblib==1.5.3

mysql-connector-python==9.7.0

gunicorn==25.1.0
