fastapi==0.115.0
uvicorn==0.30.6
gunicorn==23.0.0

numpy==2.2.6
pandas==2.2.3
scipy==1.15.3
scikit-learn==1.7.1
joblib==1.5.1

python-dotenv==1.0.1
python-multipart==0.0.20
mysql-connector-python==9.4.0
pydantic==2.11.7
